#extends("/page/layout/front/front.vm")
#require("./base.css")
#block("content")
<div ui-view="" class="ng-scope">
    <div class="form common-form common-wide-form ng-scope" ng-class="{'success-pages-guide': regType=='success'}">
        <legend>
            <h2 ng-if="bindType!='bind'" class="ng-scope">重置密码</h2>
            <!-- end ngIf: bindType!='bind' -->
        </legend>
        <div class="error-wrapper" style="display:none" id="J_errorwrap">
            <i></i>
            <div class="error">
                <span class="error-msg"></span><!-- end ngIf: remoteError -->
            </div>
        </div>
        <div class="forget-form ng-scope">
            <form action="" method="post" role="form" id="forgetForm" name="forgetForm" class="form ng-pristine ng-invalid ng-invalid-required" ng-submit="$event.preventDefault();checkAccount(formData.username);">
            <!-- ngIf: remoteError -->

	            <div class="form-group">
	                <label class="normal-label">请输入你的手机号/邮箱</label>
	
	                <div class="wrapicon">
	                    <label class="icon-person"></label>
	                    <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="username" id="username" ng-model="formData.username" placeholder="手机号/邮箱" required="">
	                </div>
	            </div>
        
        		<div class="form-group">
                    <label class="icon-eye"></label>
                    <div class="actions col-actions ng-scope" ng-if="countLeft<=0 || !countLeft">
                        <a id="J_sendsms" class="icon-envelop btn" title="短信/邮件" ng-disabled="RegisterForm.username.$invalid" ng-click="RegisterForm.username.$invalid || sendSMS()"></a>
                    </div>
                    <div class="col-input">
                    	<input type="hidden"  name="verifyId"  id="verifyId">
                        <input type="text" class="form-control col-9 ng-pristine ng-invalid ng-invalid-required ng-touched" name="verifyCode" ng-model="formData.verifyCode" id="" placeholder="验证码" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="icon-lock"></label>
                    <input type="password" minlength="6" maxlength="16" class="form-control ng-untouched ng-valid-minlength ng-valid-maxlength ng-dirty ng-valid-parse ng-invalid ng-invalid-required" name="password" ng-model="formData.password" required="" placeholder="密码">
                    <div class="error ng-scope">
                        <span class="ng-scope">密码长度6-16位，支持数字、字母、字符</span>
                    </div>
                </div>
                
                <button type="button" id="J_reset" class="btn btn-primary">重置密码</button>
            </form>
        </div>
    </div>
</div>

#end## end of body

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。


#script()
    require(['./login']);
#end
#require("./register.vm")
#end